$font-stack: 'Computer Modern Serif', 'Times New Roman', Times, serif;
$text-color: #223;
$padding: 1.0em;

@import 'header.scss';
@import 'print.scss';
@import 'mobile.scss';


body {
    margin: auto;
    max-width: 720px;
    font-family: $font-stack;
    color: $text-color;
    margin-bottom: $padding;
    padding: $padding;
    font-size: 11pt;
}

a {
    color: $text-color;
}

h2 {
    margin-top: $padding;
    padding: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.right-text {
    text-align: right;
    display: inline-block;
    float: right;
}

p {
    padding-left: $padding;
    margin-top: $padding/4;
    margin-bottom: $padding/4;
    clear: right;

    max-width: 6in;
    text-align: justify;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dotted $text-color;

}

.sunken {
    height: 0;
    overflow-y: visible;
}

#tech-list {
    list-style: none;
    padding-left: 0px;
    margin-left: $padding;
    margin-top: $padding/2;
    margin-bottom: $padding/2;

    li {
        display: inline;
    }

    li:not(:last-child)::after {
        content: ",";
    }

    li:last-child::after {
        content: ".";
    }
}

