$font-stack: 'Computer Modern Serif', 'Times New Roman', Times, serif;
$text-color: #335;
$padding: 10px;

@import 'header.scss';
@import 'print.scss';


body {
    margin: auto;
    max-width: 720px;
    font-family: $font-stack;
    color: $text-color;
}

a {
    color: $text-color;
}

