$font-stack: 'Computer Modern Serif', 'Times New Roman', Times, serif;
$text-color: #335;
$padding: 1em;

@import 'header.scss';
@import 'print.scss';


body {
    margin: auto;
    max-width: 720px;
    font-family: $font-stack;
    color: $text-color;
}

a {
    color: $text-color;
}

h2 {
    margin-top: $padding;
    padding: 0px;
    margin-bottom: 0px;
}

p {
    text-indent: $padding;
    margin-top: 0px;
    margin-bottom: $padding;
}

